@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid purple;
}

.roster-container {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  border: 10px solid goldenrod;
  /* border-radius: 10px; */
  overflow: scroll;
}

.roster-container input {
  font-family: 'Raleway', sans-serif;
  border: none;
  border-bottom: 1px solid grey;
}

.roster-container input:focus {
  outline: none;
}

.roster-container .search-input {
  width: 60vw;
  height: 6vh;
  font-size: 1em;
}

.student-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid grey;
}

.student-container .img-container img {
  width: 7em;
  height: 7em;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 2em 0 2em;
}

.student-container .desc-container {
  width: 60vw;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}

.student-container .desc-container .desc-body {
  margin: 0 0 0 1em;
}

.dropdownOff {
  display: none;
}

.student-container .desc-container .desc-body .tag-container {
  display: flex;
  justify-content: space-between;
}

.student-container .desc-container .desc-body .tag-container p {
  width: 4em;
  height: 2em;
  background: lightgray;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
  overflow: scroll;
}

.student-container .btn-container {
  align-self: flex-start;
  margin-left: auto;
}

.student-container .btn-container button {
  border:none;
  background-color:transparent;
  font-size: 3em;
  color: grey;
}

.submit-btn {
  display: none;
}